// -----------------------------------------------------------------------------
// This file contains basic styles.
// -----------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary;
}

main {
  @include flex(column, center, flex-start);
  width: 100vw;
  min-height: #{100vh - ($navHeight + $footerHeight)};
  height: max-content;
  position: relative;
}
