.project-card {
  flex-shrink: 0;
  width: 30%;
  height: 350px;
  box-shadow: 2px 2px 4px -2px black;
  border-radius: 0.5rem;
  margin: 0 1.1% 1.1% 0;
  padding: 1rem;
  background-color: $offwhite;
  position: relative;

  .title {
  }

  .affiliation {
    font-size: 0.75rem;
  }

  .link-container {
    @include flex(row, flex-start, flex-start);
    margin: 0.5rem 0;

    .link {
      @include standard-transition;
      text-decoration: none;
      color: $primary;
      margin-right: 1rem;

      &.private {
        color: #808080;
      }

      &:hover:not(.private) {
        text-decoration: underline;
      }
    }
  }

  .description {
  }
}
