.project-card {
  @include flex(row, flex-start, flex-start);
  flex-shrink: 0;
  height: 350px;
  box-shadow: 2px 2px 4px -2px black;
  border-radius: 0.5rem;
  margin: 1.1% auto;
  padding: 1rem;
  background-color: $offwhite;
  position: relative;

  .info-section {
    width: 246px;
    .affiliation {
      font-size: 0.75rem;
    }
  }
}
