.round-button {
  @include flex;
  @include standard-transition;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: $secondary;
  font-size: 3rem;
  font-weight: 1000;
  z-index: 1;
  box-shadow: inset 0 0 0 0 transparent;

  :only-child {
    @include standard-transition;
    transform: scale(1);
  }

  &:hover {
    box-shadow: inset 0 0 8px 0px $primary;

    :only-child {
      transform: scale(0.95);
    }
  }
}
