@mixin flex($dir: row, $ali: center, $jus: center) {
  display: flex;
  flex-direction: $dir;
  align-items: $ali;
  justify-content: $jus;
}

@mixin standard-transition {
  transition: all 0.25s ease;
}
